## Размерность (N, SxD, M)

In [55]:
import pandas as pd
import numpy as np

In [56]:
source = pd.read_csv("../../data/compiled/data.csv").drop(["controls", "labs", "discipline_name"], axis=1).set_index("connection_id")

In [57]:
source

,semester,lecture_1,lecture_2,lecture_3,practice_1,practice_2,practice_3,kt_1,kt_2,exam
connection_id,,,,,,,,,,
157087,0,0.666667,0.500000,1.000000,0.777778,0.818182,0.666667,0.6,0.6,0.6
157087,0,0.666667,0.500000,0.500000,0.500000,1.000000,1.000000,0.4,0.6,1.0
157087,0,1.000000,0.714286,0.750000,0.500000,0.857143,0.750000,0.0,0.0,0.4
157087,0,0.857143,0.166667,0.333333,0.333333,0.333333,0.000000,0.8,0.4,1.0
157087,1,0.333333,0.500000,0.000000,0.500000,0.666667,0.142857,0.6,0.4,0.6
...,...,...,...,...,...,...,...,...,...,...
158959,0,0.428571,0.000000,0.000000,0.666667,0.000000,0.000000,0.6,0.0,0.0
158960,0,1.000000,0.750000,0.500000,0.571429,0.333333,0.000000,0.6,0.0,0.0
158960,0,1.000000,0.750000,0.500000,0.500000,0.571429,0.250000,0.4,0.6,0.0
158960,0,0.666667,0.571429,0.250000,0.666667,0.428571,0.250000,0.4,0.0,0.4
158960,0,0.857143,0.666667,0.000000,1.000000,0.750000,0.500000,0.8,0.4,0.0

In [58]:
source = source.reset_index().set_index(["connection_id", "semester", "exam"])

In [59]:
source = source.sort_index()

In [60]:
source = source.reset_index().set_index(["connection_id", "semester"])

In [61]:
source.loc[157391]

,exam,lecture_1,lecture_2,lecture_3,practice_1,practice_2,practice_3,kt_1,kt_2
semester,,,,,,,,,
0,0.6,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.6,0.8
0,0.8,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.6,0.8
0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.6,0.8
0,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0
1,0.4,1.000000,1.000000,0.714286,0.000000,0.000000,0.000000,0.4,0.0
1,0.5,1.000000,1.000000,0.333333,0.000000,0.000000,0.000000,0.4,0.4
1,0.6,1.000000,1.000000,1.000000,1.000000,1.000000,0.428571,0.8,0.6
1,0.6,1.000000,1.000000,0.714286,0.800000,1.000000,0.833333,0.6,0.6
1,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,0.500000,0.8,1.0
1,1.0,1.000000,0.800000,0.666667,1.000000,1.000000,0.500000,0.4,0.4
2,0.0,1.000000,0.000000,0.000000,1.000000,0.250000,0.000000,0.8,0.6
2,0.0,1.000000,0.250000,0.500000,0.714286,0.166667,0.250000,0.4,0.0
2,0.0,0.857143,0.142857,0.000000,0.666667,0.500000,0.250000,0.6,0.0
2,0.6,0.857143,0.500000,0.000000,0.666667,0.800000,0.500000,0.6,0.6
2,0.8,0.833333,0.000000,0.250000,0.750000,0.000000,0.500000,0.4,0.4
2,1.0,0.750000,0.500000,0.000000,0.833333,0.285714,0.250000,0.8,0.6
3,0.0,0.250000,0.000000,0.000000,0.500000,0.000000,0.111111,0.8,0.6
3,0.0,0.500000,0.000000,0.000000,0.500000,0.000000,0.000000,0.0,0.0
3,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
3,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
3,0.0,0.000000,0.000000,0.000000,0.250000,0.000000,0.000000,0.0,0.0
3,0.4,0.500000,0.000000,0.000000,0.500000,0.000000,0.000000,0.0,0.0
4,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
4,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
4,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
4,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
4,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
4,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
4,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
5,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
5,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0

In [62]:
features_max_count = 9
semesters_max_count = 8
dispciplines_max_count = 8

In [63]:
full_dataset = []

In [64]:
current_student = 0
zero_discipline_shape = [0.0 for i in range(features_max_count+1)]
zero_semester_shape = [zero_discipline_shape.copy() for i in range(dispciplines_max_count)]

dataset = []

counter = 0
for student_semseter_ids in source.index.unique():
    dataset_part = []
    if (student_semseter_ids[1] == 0):
        counter+=1
        current_student = student_semseter_ids[0]
        
        full_dataset.append(dataset)            
        
        dataset = []
    
    part = source.loc[student_semseter_ids]
    dispciplines_count = part.shape[0]
    
    part_array = list(part.to_numpy())
    
    for discipline_ind in range(dispciplines_count):
        part_array[discipline_ind] = list(part_array[discipline_ind])
        part_array[discipline_ind].append(1)
    
    dataset_part = [zero_discipline_shape.copy() for i in range(8-dispciplines_count)] + [[float(j) for j in i] for i in part_array]

    dataset = dataset.copy() + dataset_part.copy()

In [65]:
full_dataset = full_dataset[1::]

In [66]:
final_dataset = []
for ind in range(len(full_dataset)):
    for row in full_dataset[ind]:
        final_dataset.append([ind] + row)

In [67]:
final_dataset = pd.DataFrame(final_dataset, columns=["id", "exam", "lecture_1", "lecture_2", "lecture_3", "practice_1", "practice_2", "practice_3", "kt_1", "kt_2", "is_real"]).set_index("id")

In [68]:
final_dataset

,exam,lecture_1,lecture_2,lecture_3,practice_1,practice_2,practice_3,kt_1,kt_2,is_real
id,,,,,,,,,,
0,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.0,0.0,0.0
0,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.0,0.0,0.0
0,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.0,0.0,0.0
0,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.0,0.0,0.0
0,0.4,1.000000,0.714286,0.75,0.500000,0.857143,0.75,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
61,0.0,0.000000,0.000000,0.00,0.000000,0.000000,0.00,0.0,0.0,0.0
61,0.0,0.666667,0.000000,0.00,0.666667,0.000000,0.00,0.4,0.0,1.0
61,0.0,0.666667,0.000000,0.00,0.500000,0.000000,0.00,0.4,0.0,1.0
61,0.0,0.833333,0.000000,0.00,0.500000,0.000000,0.00,0.0,0.0,1.0
61,0.0,0.428571,0.000000,0.00,0.666667,0.000000,0.00,0.6,0.0,1.0

In [69]:
final_dataset.to_csv("dataset.csv")